.topbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.spacer {
  flex: 1 1 auto;
}

.status {
  display: flex;
  align-items: center;
  gap: .4rem;
  margin-right: 1rem;
}


.icon-green {
  color: #4caf50; /* Material green 500 */
}

.icon-red {
  color: #f44336; /* Material red 500 */
}
