version: "3.8"

services:
  db:
    image: postgres:16
    container_name: guardino-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: guardino
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped

  kafka:
    image: apache/kafka:3.7.0
    container_name: guardino-kafka
    ports:
      - "9092:9092"
    environment:
      # ---- KRaft (Kafka ohne ZooKeeper) ----
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      # quorum: dieser eine Broker ist gleichzeitig Controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      # Listener-Konfiguration (interner + externer Zugriff)
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092 #Anpassen falls extern zugreifbar
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # Single-broker safe defaults
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

      # Storage / metadata
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

    volumes:
      - kafkadata:/var/lib/kafka/data
    restart: unless-stopped

  backend:
    build:
      context: ./client/guardino-backend
      dockerfile: Dockerfile
    container_name: guardino-backend
#    env_file:
#      - ./client/guardino-backend/app/.env
    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@db:5432/guardino
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - "8000:8000"
    depends_on:
      - db
#      - kafka
    restart: unless-stopped

  frontend:
    build:
      context: ./client/guardino-frontend        # Pfad zu deinem Angular-Frontend
      dockerfile: Dockerfile
    container_name: guardino-frontend
    ports:
      - "4200:4200"     # außen 4200 -> innen 4200 (ng serve)
    depends_on:
      - backend
    restart: unless-stopped
    volumes:
      - ./client/guardino-frontend:/app          # Code ins Container-Workspace mounten
      - /app/node_modules        # Node_modules im Container behalten

#  agent:
#    build:
#      context: ./agent
#      dockerfile: Dockerfile
#    container_name: guardino-agent
#    depends_on:
#      - kafka
#    volumes:
#      - /home/vmadmin:/home/vmadmin
#      - ./config.yaml:/app/config.yaml
#    environment:
#      # falls dein Agent zusätzlich ENV braucht, kannst du das hier übergeben
#      # (z. B. Agent-ID für Identität)
#      AGENT_ID: "agent-001"
#    restart: unless-stopped

volumes:
  dbdata:
 # kafkadata:
