#Docker-Compose File um das System Client-Seitig zu starten
version: "3.8"

services:
  db:
    image: postgres:16
    container_name: guardino-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: guardino
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped

  kafka:
    image: apache/kafka:3.7.0
    container_name: guardino-kafka
    ports:
      - "9092:9092"
    environment:
      # ---- KRaft (Kafka ohne ZooKeeper) ----
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      # quorum: dieser eine Broker ist gleichzeitig Controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      # Zwei Listener: intern + extern
      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093
      # Interner Listener = f端r Backend & andere Docker-Services
      # Externer Listener = f端r Agents ausserhalb des Docker-Netzes
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://192.168.110.60:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:SSL,CONTROLLER:PLAINTEXT
      # interner Listener f端r interne Broker-Kommunikation
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      # TLS-Settings f端r sichere Kommunikation
      KAFKA_SSL_KEYSTORE_LOCATION: /opt/kafka/certs/kafka.keystore.p12
      KAFKA_SSL_KEYSTORE_PASSWORD: changeit
      KAFKA_SSL_KEYSTORE_TYPE: PKCS12
      KAFKA_SSL_TRUSTSTORE_LOCATION: /opt/kafka/certs/kafka.truststore.p12
      KAFKA_SSL_TRUSTSTORE_PASSWORD: changeit
      KAFKA_SSL_TRUSTSTORE_TYPE: PKCS12
      #client Auth
      KAFKA_SSL_CLIENT_AUTH: "none"
      # Single-broker safe defaults
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      # Storage / metadata
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

    volumes:
      - kafkadata:/var/lib/kafka/data
      - ./certs:/opt/kafka/certs:ro
    restart: unless-stopped

  backend:
    build:
      context: ./client/guardino-backend
      dockerfile: Dockerfile
    container_name: guardino-backend
    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@db:5432/guardino #Muss zu einer laufenden DB zeigen ob lokal oder ausgelagert
      DB_HOST: db
      DB_PORT: 5432
      KAFKA_BOOTSTRAP: "kafka:29092"
      ALLOWED_ORIGINS: "http://localhost:4200,http://frontend:4200,http://192.168.110.60:4200" #IP vom Client muss unter Allowed_origins sein!

    ports:
      - "8000:8000"
    depends_on:
      - db
      - kafka
    restart: unless-stopped

  frontend:
    build:
      context: ./client/guardino-frontend        # Pfad zu deinem Angular-Frontend
      dockerfile: Dockerfile
    container_name: guardino-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: unless-stopped
    volumes:
      - ./client/guardino-frontend:/app          # Code ins Container-Workspace mounten
      - /app/node_modules

volumes:
  dbdata:
  kafkadata:
