<div class="activity-card">
  <div class="activity-header">
    <h3>Recent Activity</h3>
    <p>Latest events from your security infrastructure</p>
  </div>

  <div class="activity-list">
    <div class="activity-item" *ngFor="let item of allEvents"   [ngClass]="item.severity == 'info' ? 'success' : 'danger'">
      <span class="dot"></span>
      <div class="content">
        <div class="title">{{item.summary}}</div>
        <div class="meta">{{ item.agent_id }}</div>
      </div>
      <div class="time">{{item.ts | date:'dd.MM.yyyy HH:mm:ss' }}</div>
    </div>

<!--    <div class="activity-item danger">-->
<!--      <span class="dot"></span>-->
<!--      <div class="content">-->
<!--        <div class="title">Threat detected: Suspicious file encryption</div>-->
<!--        <div class="meta">Agent: SRV-005</div>-->
<!--      </div>-->
<!--      <div class="time">14:30</div>-->
<!--    </div>-->
<!--  </div>-->
</div>
