<div class="dashboard-card agents-table-card">
  <div class="agents-table-header">
    <div>
      <div class="title">Agents List</div>
      <div class="subtitle">View and manage all registered security agents</div>
    </div>

    <div class="filters">
      <mat-form-field appearance="outline">
        <mat-select value="all">
          <mat-option value="all">All Status</mat-option>
          <mat-option value="online">Online</mat-option>
          <mat-option value="offline">Offline</mat-option>
          <mat-option value="warning">Warning</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select value="all">
          <mat-option value="all">All Types</mat-option>
          <mat-option value="desktop">Desktop</mat-option>
          <mat-option value="server">Server</mat-option>
          <mat-option value="laptop">Laptop</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- search -->
  <div class="agents-search">
    <mat-icon>search</mat-icon>
    <input matInput placeholder="Search by agent name or ID..." />
  </div>

  <!-- table -->
  <div class="table-wrapper">
    <table class="agents-table">
      <thead>
      <tr>
        <th>Agent</th>
        <th>Type</th>
        <th>Operating System</th>
        <th>Status</th>
        <th>Last Heartbeat</th>
        <th>Threats</th>
        <th>Version</th>
        <th>Location</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let agent of agents">
        <td>
          <div class="agent-name">Marketing PC-01</div>
          <div class="agent-id">{{ agent.agent_id}}</div>
        </td>

        <td>Linux HOST</td>
        <td>{{ agent.os }}</td>

        <td>
          <span
            class="status-badge"
            [ngClass]="{
              'online':  getStatus(agent) === 'online',
              'danger':  getStatus(agent) === 'warning',
              'offline': getStatus(agent) === 'offline'
            }"
          >
            {{ getStatus(agent) | titlecase }}
          </span>
        </td>

        <td>
          {{ agent.last_seen | date:'short' }}
        </td>

        <td>
          <span
            class="threat-count"
            [ngClass]="{ 'danger': getThreats(agent.agent_id) > 0 }"
          >
            {{ getThreats(agent.agent_id) }}
          </span>
        </td>

        <td>{{ agent.os_version }}</td>
        <td>Zürich</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
