<div [class.collapsed]="collapsed" class="sidebar-header">
  <div *ngIf="!collapsed" class="logo">
    <span>Guardino System</span>
  </div>
  <img alt="Guardino Logo" class="logo-icon" height="50" src="assets/logo_no_text.png" width="50"/>
</div>
<mat-divider></mat-divider>
<mat-nav-list class="nav-list">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span *ngIf="!collapsed" matListItemTitle>Dashboard</span>
  </a>

  <a mat-list-item routerLink="/agents" routerLinkActive="active">
    <mat-icon matListItemIcon>memory</mat-icon>
    <span *ngIf="!collapsed" matListItemTitle>Agents</span>
  </a>

  <a mat-list-item routerLink="/events" routerLinkActive="active">
    <mat-icon matListItemIcon>warning</mat-icon>
    <span *ngIf="!collapsed" matListItemTitle>Events</span>
  </a>
</mat-nav-list>
